*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
/* header section styles */
.header{
    background-image: url("../images/donation0.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    
}
.header-section{
    padding: 200px 100px ;
    text-align: center;
    height: 100%;
    width: 100%;
   

}
.section-title{
    color: #ffffff;
    font-size: 80px;
    margin-bottom: 20px;
    
}
.section-description{
    font-size: 20px;
    color: #220aaa;
    margin-bottom: 30px;
    color: #c4bbbb;
    
}
.btn-primary{
    background-color: #FF5959;
    color: white;
    border: 0;
    padding: 20px 10px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
}

/* donate price styles */
.donate-section{
    text-align: center;
}
.donate-title{
    margin-top: 100px;
    padding: 0 200px;
    font-size: 30px;
    font-weight: 700;

}
.donate-description{
    color: #aca9a9;
    padding: 0 400px;  
    margin-top: 20px;
    margin-bottom: 20px;
}
.donate-price{
    display: flex;
    gap: 20px;
    justify-content: center;
    

}
.price{
    padding: 30px;
    border: none;
    font-size: 30px;
    font-weight: 700px;
    background-color:aliceblue;
    color:#aca9a9;
    border-radius: 5px;
    margin-bottom: 30px;
    border: 0 ;
}
.price:hover{
    border: 1px solid #FF5959;
    color: #FF5959;
}
.other-amount-section{
    padding: 0 200px;
}
.other-amount{
    margin-bottom: 20px;
    color: #aca9a9;
    
}
hr{
    color: #aca9a9;
    margin-bottom: 20px;
    padding: 0 200px;
}

/* donate plan styles */
.donate-section{
    text-align: center;
    margin-top: 200px;
}
.donate-plan{
    display: flex;
    gap: 10px;
    padding: 0 250px;
}
.donate-plan img{
    margin-bottom: 10px;
    
}
.food{
    background-color: #EDF5F6;
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.shelter{
    background-color: #FFEEEE;
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.education{
    background-color: #FFF4D6;
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.plan-description{
    color: #aca9a9;
}

/* donate-people-section styles */

.donate-people-section{
    display: flex;
    gap: 30px;
    margin: 200px 250px;
    justify-content: space-between;
    position: relative;
    
}
.donation-img{
    margin: auto;
    width: 725px;
    height: 225px;
}
.donation-img img{
    height: 100%;
    width: 100%;
}

.people-description{
    margin: 30px 0;
    
    font-weight: 400;
    color: #b3aeae; 
}
.donation-img2{
    margin: auto;
    width: 725px;
    height: 225px;
}
.donation-img2 img{
    height: 100%;
    width: 100%;
}
.donate-people-section2{
    display: flex;
    gap: 30px;
    margin: 200px 250px;
    justify-content: space-between;
    position: relative;
    
}
.people-description2{
    margin: 30px 0;
    
    font-weight: 400;
    color: #b3aeae; 
}

/* update from styles */
.updates-section{
    text-align: center;

}
.updates-title{
    font-size: 50px;
}
.update-from{
    display: flex;
    justify-content: center;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  #FFF4D6;
    margin: 0 250px;
    
}
.form-box{
    border-radius: 5px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    background: #AA9F9F;
    
}
.form-box input{
    font-size: 20px;
    color: #AA9F9F;
    padding: 15px 10px;
    border: none;
    outline: none;
    background: #AA9F9F;
    
}
.form-box button{
    font-size: 20px;
    border-radius: 5px;
    color: #AA9F9F;
    padding: 15px 20px;
    border: none;
    outline: none;
    background: #FF5959;
    font-weight: 800;
    cursor: pointer;
    transition: .3s;
    
}

.updates-description{
    color: #aca9a9;
    padding: 0 400px;  
    margin-top: 30px;
    margin-bottom: 30px;
}
.email{
    background-color: #D9D9D9;
    color: #AA9F9F;
    border: 0;
    padding: 20px 10px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    
}